.login
  h1 Login
  form(method='post' action='javascript:void(0);')
    input(type='email' required='' placeholder='Email' ng-model='loginData.email' autocomplete='off')
    br
    br
    input(type='password' name='password' required='' ng-model='loginData.password' placeholder='Contraseña', autocomplete='off')
    br
    br
    input(type='submit' value='Login' title='Registrar' ng-click='doLogin()')
    
