.general
  
 .container
   div.total {{ total }}
   input(type="tel" ng-model='venta' ng-change='updateTotal()')
   input(type="submit" value='Facturar' ng-click='calcula()')
 .calendario
   h1 Calendario
   h3 Ventas del dia:
   input(type="date" id="ventas_dia" ng-model='fecha')
   br
   br
   input(type="submit" value='Ventas' ng-click="salesDate()")
 .ventas
   h1 Ventas Diarias
     .venta(ng-repeat="venta in ventas")
       {{ venta.venta }} = {{ venta.total }}
       
