.signup
  h1 Crear Usuario
  form(method='post' action='javascript:void(0);')
    input(type='text' required='' placeholder='Nombre de usuario' ng-model='signupData.username' autocomplete='off')
    br
    br
    input(type='email' required='' placeholder='Correo' ng-model='signupData.email' autocomplete='off')
    br
    br
    input(type='password' name='password' required='' ng-model='signupData.password' placeholder='Contraseña', autocomplete='off')
    br
    br
    input(type='submit' value='Registrarse' title='Registrar' ng-click='doSign_up()')
