.signup
  h1 Registro
  form(method='post', action='javascript:void(0);')
    input(type='text', required='', placeholder='Nombre de usuario', autocomplete='off')
    br
    br
    input#email(type='text', required='', placeholder='Correo', autocomplete='off')
    br
    br
    input#password(type='password', name='password', required='', placeholder='Contraseña', autocomplete='off')
    br
    br
    input(type='submit', value='Registrar', title='Registra tu cuenta')