.signup
  h1 Crear Usuario
  form(ng-submit= 'signup(signupData)')
    input(type='text' required='' placeholder='Nombre de usuario' ng-model='signupData.username' autocomplete='off')
    br
    br
    input(type='email' required='' placeholder='Correo' ng-model='signupData.email' autocomplete='off')
    br
    br
    input(type='password' name='password' required='' ng-model='signupData.password' placeholder='Contraseña', autocomplete='off')
    br
    br
    input(type='tel' name='cellphone' required='' ng-model='signupData.cellphone' placeholder='Celular', autocomplete='off')
    br
    br
    input(type='submit' value='Agregar usuario' title='Registrar' )
    br
    br
    br
    br
    a(ui-sref='login' ng-show='has_user')  Ingresa a tu tienda
